:root {
    --bg-color: #080a0c;
    --section: #191f25;
    --section-border: #49465c;
    --border-color: #ffffff40;
    --button-bg-color: #32314a;
    --button-bg-color-transparent: #32314a50;
    --button-hover-bg-color: #494864;
    --button-hover-bg-color-transparent: #49486450;
    --status-inactive-color: #605958;
    --status-active-color: #3f8e36;
    --status-active-color-hover: #54a04b;
    --set-status-btn-color: #1f2f54;
    --text-color-light: #C4C9D4;
    --text-color-strong: #E4E7F0;
    --warning-color:#a01a1a;
    --warning-btn-color-hover:#bc3434;
    --warning-color-lighter:#bc3434;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Om ett element ska gömmas så ska det gömmas oberoende av andra display-egenskaper */
*[hidden] {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    padding: 4vh 5vw;
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin-bottom: 4vh;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

section {
    width: 100%;
    background: var(--section);
    border: 1px solid var(--section-border);
    border-radius: 24px;
    padding: 4vw;
}

button {
    width: 100%;

    background: var(--button-bg-color);

    font-size: 1rem;
    color: var(--text-color-light);
    text-align: center;

    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 1rem 1.2rem;
    cursor: pointer;
    transition: background 0.18s ease;
}

button:hover {
    transition: background 0.18s ease;
    background: var(--button-hover-bg-color);
}

#alarm-control-section {
    display: flex;
    gap: 1rem;

    flex-wrap: wrap;
}

.alarm-control-container {
    flex: 1 1 100px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.alarm-status-btn {
    border-width: 4px;
    border-radius: 50%;

    padding: 1rem;
    line-height: 1.3;

    aspect-ratio: 1 / 1;
    height: auto;
    width: 100%;
    max-width: 10rem;
}

.alarm-status-btn i {
    font-size: 2.5rem; 
    display: block;
}

.alarm-control-container[data-status="inactive"] .alarm-status-btn {
    background-color: var(--status-inactive-color);
}

.alarm-control-container[data-status="inactive"] .alarm-status-btn:hover {
    background-color: var(--button-hover-bg-color);
}

.alarm-control-container[data-status="active"] .alarm-status-btn {
    background-color: var(--status-active-color);
}

.alarm-control-container[data-status="active"] .alarm-status-btn:hover {
    background-color: var(--status-active-color-hover);
}

.set-active-btn {
    background-color: var(--set-status-btn-color);
}

.alarm-control-container[data-status="active"] .set-active-btn {
    background-color: var(--warning-color);
}

.alarm-control-container[data-status="active"] .set-active-btn:hover {
    background-color: var(--warning-btn-color-hover);
}

h1 {
    font-size: 2rem;
    color: var(--text-color-strong);
}

h2 {
    font-size: 1.6rem;
    color: var(--text-color-strong);
    margin:0;
}

#alarm-trigger-section {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#alarm-trigger-section h2 {
    margin-top:0;
}

.alarm-trigger-btn {
    width: 100%;
}

.alarm-trigger-btn i {
    font-size: 2rem;
}

#alarm-info-section{
    background-color: var(--warning-color);
    animation: pulse 1s infinite;
}

.deactivate-alarm-btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vw;
}

.deactivate-alarm-btn-container > *{
    flex: 1 1 150px;
}

@keyframes pulse {
  0%, 100% {
    background-color: var(--warning-color);
  }
  50% {
    background-color: var(--warning-color-lighter);
  }
}

#logs-section {
    display: flex;
    flex-flow: column wrap;
    gap: 2vh;
}

#logs-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--section-border);
    border-radius: 16px;
    padding: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
}

#close-logs-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    min-width: 48px;
    min-height: 48px;

    margin-left: auto;
    position: sticky;
    top: 0;

    background-color: var(--button-bg-color-transparent);
    font-size: 1.2rem;
}

#close-logs-btn:hover {
    background-color: var(--button-hover-bg-color-transparent);
}

#logs-list {
    text-align: left;
    font-size: small;
}

#logs-list li {
    margin-bottom: 0.5rem;
}